<main class="illustration">
    <div class="illustration-grid">
        <div class="more">
            <h1 data-aos="fade-right">More than just shorter links</h1>
            <p class="build" data-aos="fade-up" data-aos-delay="100">
                Build your brand’s recognition and get detailed insights on how your
                links are performing.
            </p>
            <button class="started" data-aos="fade-up" data-aos-delay="100">
                Get Started
            </button>
        </div>
        <div class="illustration-img" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/images/illustration-working.svg" alt="" class="intro-img" />
        </div>
    </div>
</main>