<header class="desktop-header">
  <div class="container">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="nav">
      <nav class="features">
        <ul>
          <li><a href="#" class="feature-link">Features</a></li>
          <li><a href="#" class="feature-link">Pricing</a></li>
          <li><a href="#" class="feature-link">Resources</a></li>
        </ul>
      </nav>
      <ul class="login">
        <li><a href="#" class="feature-link">Login</a></li>
        <li><a href="#" class="sign-up">Sign Up</a></li>
      </ul>
    </div>
  </div>
</header>