<footer>
    <div class="container">
      <div class="footer-logo" data-aos="fade-up" data-aos-delay="50">
        <img src="assets/images/footer-logo.svg" alt="">
      </div>
      <div class="foot1" data-aos="fade-up" data-aos-delay="100">
        <ul>
          <li class="diff">Features</li>
          <li>Link Shortening</li>
          <li>Branded Links</li>
          <li>Analytics</li>
        </ul>
      </div>
  
      <div class="foot2" data-aos="fade-up" data-aos-delay="150">
        <ul>
          <li class="diff">Resources</li>
          <li>Blog</li>
          <li>Developers</li>
          <li>Support</li>
        </ul>
      </div>
  
      <div class="foot3" data-aos="fade-up" data-aos-delay="200">
        <ul>
          <li class="diff">Company</li>
          <li>About</li>
          <li>Our Team</li>
          <li>Careers</li>
          <li>Contact</li>
        </ul>
      </div>
  
    </div>
    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a
        href="https://github.com/gi0dogr4u" target="_blank">Giovanna Resende</a>.
    </div>
  </footer>
