<div class="grey">
<div class="link-box">
    <div class="input" data-aos="fade-up">
        <div class="input-text">
            <label for="text"></label>
            <input type="text" name="link" id="shortenlink" placeholder="Shorten a link here..."
                aria-labelledby="please shortenlink text" />
            <p id="please">Please add a link</p>
        </div>
        <button type="submit" class="shorten">Shorten It!</button>
    </div>
    <div class="lists"></div>
</div>
</div>